<template>
    <div>
        <input type="radio" name="acor" id="`accordion-${item.id}`"/>
        <label :for="`accordion-${item.id}`" :class="['name__acor-container__head', render ? 'active' : null]" @click="switchVisible">{{item.title}}</label>
        <div v-if="render" class="name__acor-container__body" >
            <p class="body__dscr">{{item.value}}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        item: {
            type: Object,
            required: true
        }
    },
    data: () => ({
        render: false
    }),
    methods: {
        switchVisible() {
            this.render = !this.render
        }
    }
}
</script>

