<template>
  <main>
    <section class="section" id="questions">
      <h2 class="section__name">Вопросы</h2>
      <p class="section__dscr">Все что вы хотели знать о <br>правильном питании</p>
      <div class="name__acor-container" id="accordion"> 
        <Accordion :item="item" v-for="item of accordions" :key="item.id"/>
      </div>
    </section>
  </main>
</template>

<script>
import Accordion from "@/components/Accordion"
export default{
  components: {Accordion},
  data(){
    return {
      accordions: [
        {
          id: 1,
          title: 'Безопасно ли облизывать колотушки миксера?',
          value: 'Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал. Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.'
        },
        {
          id: 2,
          title: 'Можно ли класть ананас в пиццу?',
          value: 'Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал. Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.'
        },
        {
          id: 3,
          title: 'Насколько важно уважать культурные корни еды?',
          value: 'Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал. Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.'
        },
        {
          id: 4,
          title: 'Безопасно ли облизывать колотушки миксера?',
          value: 'Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал. Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.'
        },
        {
          id: 5,
          title: 'Безопасно ли облизывать колотушки миксера?',
          value: 'Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал. Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.'
        },
      ],
    }
  }
}
</script>

<style>
.name__acor-container {
  margin-top: 2.04vw; }
  .name__acor-container label {
    position: relative;
    cursor: pointer;
    background: #F3F3F3;
    display: block;
    padding: 0.84vw 0 0.84vw 3.64vw;
    margin-top: 0.83vw;
    width: 94%;
    text-align: start;
    font-weight: 500;
    font-size: 1vw;
    color: #000000; }
  .name__acor-container label:before {
    content: "❯";
    position: absolute;
    right: 2.8vw;
    color: #F68741;
    transform: rotate(-90deg); }
  .name__acor-container input {
    display: none; }
  .name__acor-container input:checked + label {
    padding-left: 3.64vw;
    background: #F3F3F3;
    text-align: start;
    font-weight: 500;
    font-size: 1vw;
    color: #000000; }
  .name__acor-container label.active:before {
    transition: transform 0.35s;
    transform: rotate(90deg);
    transition: all 0.5s linear; }
  .name__acor-container label.active + .name__acor-container__body {
    opacity: 1;
    transition: all 1.5s ease 1.5s;
    height: 100%; }
.body__dscr {
  text-align: start;
  width: 29.37vw;
  margin: 1.3vw 0 1.3vw 3.75vw;
  font-weight: normal;
  font-size: 0.83vw;
  color: #000000;
  opacity: 0.6; }

</style>