<template>
    <footer>

    </footer>
</template>
<script>
export default{
   
}
</script>
<style scoped>
footer {
  display: flex;
  width: 63%; }

footer:before {
  content: "";
  background-image: url("../assets/img/vector.png");
  position: absolute;
  opacity: 0.7;
  left: 0;
  width: 22%;
  height: 92%;
  bottom: -175rem;
  z-index: -1; }
@media (max-width: 1099px) {
    footer:before {
    bottom: -70rem; }
 }
@media (max-width: 769px) {
    ooter {
    margin-top: 5.88vw; }

  footer:before {
    display: none; } 
}


</style>