<template>
  <header>
    <nav id="wheel">
      <a class="link" href="#basics" v-on:click="wheel" >Основы</a>
      <a class="link" href="#regulations" v-on:click="wheel" >Нормативы</a>          
      <a class="link" href="#questions" v-on:click="wheel" >Вопросы</a>
    </nav>
  </header>
</template>
<script>
  export default{
    name: 'wheel',
    methods: {
      wheel: function (e) {  
        let labels = document.querySelectorAll('.link');
        for(var i = 0; i < labels.length; i++) {
            labels[i].classList.replace('link','orange');
        }
        e.target.classList.add('link');
      }
    }
  }
</script>
<style scoped>
header {


  display: flex;
  justify-content: center;
  margin: 6.25vw auto;
  width: 63%; }

header::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../assets/img/mask.png");
  position: absolute;
  opacity: 0.7;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  z-index: -1; }

nav {
  display: flex;
  position: fixed;
  margin: -3.08vw auto; }
  nav .link {
    position: relative;
    margin-right: 2.08vw;
    font-size: 0.84vw;
    width: 5.2vw;
    text-align: center;
    color: #000;
    font-weight: 700; }
  nav .link::after {
    display: flex;
    content: url("../assets/img/ellipse.png");
    position: absolute;
    top: 1.04vw;
    left: 2.34vw; }

.orange {
  position: relative;
  margin-right: 2.08vw;
  font-size: 0.84vw;
  width: 5.2vw;
  text-align: center;
  color: #000;
  font-weight: 700; }

.orange::after {
  display: flex;
  content: url("../assets/img/ellipse-orange.png");
  position: absolute;
  top: 1.04vw;
  left: 2.34vw; }
@media (max-width: 1099px) {
  nav .link {
    font-size: 1.5vw; }
  nav .orange {
    font-size: 1.5vw; }
}
@media (max-width: 769px) {
  header {
    justify-content: flex-end; }
}
@media (max-width: 550px) {
  nav {
    display: flex;
    flex-direction: column;
    margin: 2.04vw auto; }
    nav .link {
      font-size: 4vw;
      margin-top: 3.67vw;
      margin-right: 0; }
    nav .link::after {
      top: 4.04vw; }
    nav .orange {
      margin-top: 3.67vw;
      font-size: 4vw;
      margin-right: 0; }
    nav .orange::after {
      top: 4.04vw; }
}
</style>