<template>
<main>
  <section class="about-food">
    <div class="about-food__description">
      <h1 class="description__title">О вкусной<br> и здоровой еде</h1>
      <p class="description__dscr">Питание является одним из основных условий существования человека, а проблема питания — одной из основных проблем человеческой культуры.</p>
    </div>
    <img class="about-food__description__img" src="../assets/img/salad.png" alt="">
  </section>
  <section class="section"  id="basics">
    <h2 class="section__name">Основы</h2>
    <p class="section__dscr">Правильно<br> организованное питание</p>
    <div class="basics">
      <div class="basics__items">
        <img class="basics__items__img" src="../assets/img/apple.png" alt="">
        <p class="basics__items__dscr" >В числе задач, стоящих перед пищевой промышленностью и предприятиями общественного питания, имеются, в частности, и такие, как увеличение производства консервированных фруктов и овощей для максимально возможной ликвидации сезонных спадов в их потреблении; рост использования бобовых; увеличение потребления населением океанской рыбы; постепенное вытеснение водки виноградным вином и пивом; расширение производства фруктовых и ягодных соков.</p>
      </div>
        <div class="basics__items">                    
          <img class="basics__items__img" src="../assets/img/fish.png" alt="">
          <p class="basics__items__dscr">В числе задач, стоящих перед пищевой промышленностью и предприятиями общественного питания, имеются, в частности, и такие, как увеличение производства консервированных фруктов и овощей для максимально возможной ликвидации сезонных спадов в их потреблении; рост использования бобовых; увеличение потребления населением океанской рыбы; постепенное вытеснение водки виноградным вином и пивом; расширение производства фруктовых и ягодных соков.</p></div>
        <div class="basics__items">                    
          <img class="basics__items__img" src="../assets/img/cheese.png" alt="">
          <p class="basics__items__dscr">В числе задач, стоящих перед пищевой промышленностью и предприятиями общественного питания, имеются, в частности, и такие, как увеличение производства консервированных фруктов и овощей для максимально возможной ликвидации сезонных спадов в их потреблении; рост использования бобовых; увеличение потребления населением океанской рыбы; постепенное вытеснение водки виноградным вином и пивом; расширение производства фруктовых и ягодных соков.</p></div>
    </div>
  </section>
</main>
</template>
<script>
export default{
}
</script>
<style scoped>
main {
  width: 63%;
  margin: 0 auto; }

.about-food {
  display: flex;
  align-items: center;
  margin-top: 2.7vw; }
  .about-food__description {
    margin: 0 3.65vw 0 6vw; }
    .about-food__description__img {
      width: 32.2vw; }

.description__title {
  font-size: 2.8vw;
  font-weight: bold;
  line-height: 115%;
  color: #000000; }
.description__dscr {
  font-size: 1.1vw;
  line-height: 120%;
  margin-top: 1.66vw;
  color: #000000;
  opacity: 0.6; }

.section {
  text-align: center;
  margin-top: 3.96vw; }
  .section__name {
    font-weight: bold;
    font-size: 1vw;
    color: #FF5F33; }
  .section__dscr {
    margin: 0 auto;
    font-weight: bold;
    font-size: 2.1vw;
    text-align: center;
    color: #000000; }

.basics {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #F3F3F3;
  margin-top: 2.5vw;
  padding: 3.125vw;
  border-radius: 1.04vw 0; }
  .basics__items__img {
    width: 8.9vw; }
  .basics__items__dscr {
    width: 17.3vw;
    text-align: left;
    margin-top: 2.34vw;
    font-weight: normal;
    font-size: 0.84vw;
    line-height: 130%;
    color: #000000;
    opacity: 0.6; }

.regulations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.86vw; }
  .regulations__img {
    position: relative;
    width: 31vw;
    left: -5.2vw; }
  .regulations__table {
    display: flex; }

.column__items {
  margin-top: 0.84vw;
  margin-right: 0.84vw;
  padding: 1.5vw;
  width: 9.44vw;
  background: #F3F3F3;
  border-radius: 1.04vw 0; }
  .column__items__name {
    text-align: start;
    width: 6.15vw;
    font-weight: bold;
    font-size: 1vw;
    color: #000000; }
  .column__items__date {
    text-align: start;
    width: 5.15vw;
    margin-top: 0.41vw;
    font-weight: normal;
    font-size: 0.84vw;
    color: #000000;
    opacity: 0.6; }
  .column__items__img {
    display: flex;
    width: 2.6vw;
    margin: 1.46vw 0 0 auto; }


@media (max-width: 1099px) {
    .regulations__table__column__items {
    width: 8vw; }
}
@media (max-width: 769px) {
    .about-food {
    flex-direction: column; }

  .description {
    text-align: center; }
    .description__title {
      text-align: center;
      font-size: 4.8vw; }
    .description__dscr {
      text-align: center;
      font-size: 4.1vw;
      margin-bottom: 4vw; }

  .section__name {
    font-size: 5vw; }
  .section__dscr {
    font-size: 5.1vw; }

  .basics {
    flex-direction: column;
    align-items: center; }
    .basics__items__img {
      width: 20.9vw;
      margin-top: 6vw; }
    .basics__items__dscr {
      width: 51.9vw;
      text-align: center;
      font-size: 3.64vw; }

  .regulations {
    flex-direction: column; }
    .regulations__img {
      width: 40vw; }

  .column__items {
    width: 40.44vw;
    margin-top: 3vw; }
    .column__items__name {
      font-size: 4vw; }
    .column__items__date {
      font-size: 3.84vw; }
    .column__items__img {
      width: 8.6vw; }

  .name__acor-container label {
    font-size: 4vw; }
  .name__acor-container input:checked + label {
    font-size: 4vw; }
  .name__acor-container__body {
    line-height: 5vw;
    font-size: 1.83vw; }

  .body__dscr {
    width: 60.37vw;
    margin: 1.3vw 0 1.3vw 3.75vw;
    font-size: 4.83vw; }
    }

@media (max-width: 550px) {
    .regulations__table {
    flex-direction: column; } 
}
</style>