<template>
<main>
    <section class="section" id="regulations">
        <h2 class="section__name">Нормативы</h2>
        <p class="section__dscr">Нормативы<br> правильного питания</p>
        <div class="regulations">
            <img class="regulations__img" src="../assets/img/backpack.png" alt="">
            <div class="regulations__table">
                <div class="column">
                    <a v-for="regulations in 2" :key="regulations" href="#">
                        <div class="column__items">
                            <div class="column__items__name">{{title}}</div>
                            <div class="column__items__date">{{item}}</div>
                            <img class="column__items__img" src="../assets/img/list.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a v-for="regulations in 2" :key="regulations" href="#">
                        <div class="column__items">
                            <div class="column__items__name">{{title}}</div>
                            <div class="column__items__date">{{item}}</div>
                            <img class="column__items__img" src="../assets/img/list.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
</template>

<script>
    export default{
        name: 'regulations',
        data(){
            return {
                title:'Нормативы правильного питания',
                item:'Список нормативов от 12.04.1957'
                }
            }
    }
</script>

<style>
.regulations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.86vw; }
  .regulations__img {
    position: relative;
    width: 31vw;
    left: -5.2vw; }
  .regulations__table {
    display: flex; }

.column__items {
  margin-top: 0.84vw;
  margin-right: 0.84vw;
  padding: 1.5vw;
  width: 9.44vw;
  background: #F3F3F3;
  border-radius: 1.04vw 0; }
  .column__items__name {
    text-align: start;
    width: 6.15vw;
    font-weight: bold;
    font-size: 1vw;
    color: #000000; }
  .column__items__date {
    text-align: start;
    width: 5.15vw;
    margin-top: 0.41vw;
    font-weight: normal;
    font-size: 0.84vw;
    color: #000000;
    opacity: 0.6; }
  .column__items__img {
    display: flex;
    width: 2.6vw;
    margin: 1.46vw 0 0 auto; }
</style>