<template>
  <div id="app">
    <Header/>
    <Main/>
    <Regulations/>
    <Accord/>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Main from './components/Main.vue'
import Regulations from './components/Regulations.vue'
import Accord from './components/Accord.vue'
import Footer from './components/Footer.vue'
export default {
  name: 'App',
  data(){
  },
  
  components:{
    Header,
    Main,
    Regulations,
    Accord,
    Footer
  }
}
</script>

<style>
* {
margin: 0;
padding: 0;
scroll-behavior: smooth; }

html {
font-size: 100%; }

body {
font-family: "PT Root UI";
background: #E5E5E5; }

a {
text-decoration: none; }
main {
  width: 63%;
  margin: 0 auto; }
.section {
  text-align: center;
  margin-top: 3.96vw; }
  .section__name {
    font-weight: bold;
    font-size: 1vw;
    color: #FF5F33; }
  .section__dscr {
    margin: 0 auto;
    font-weight: bold;
    font-size: 2.1vw;
    text-align: center;
    color: #000000; }


</style>
